#sponsor {
    padding: 80px 0;
}
.bg-sp{
    background: white;
    padding: 30px 0;
}
#medpart{
    padding: 80px 0;
}

.logo-besar{
    width: 350px !important;
    height: 100% !important;
}

#map {
    padding: 80px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-footer.jpg) fixed center center;
    background-size: cover;
    max-width: 100%;
}
.map{
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: -4px 4px 14px #000;
    -webkit-box-shadow: -4px 4px 14px #000;
    box-shadow: -4px 4px 14px #000;
    /* -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg); */
}
#cp{
    padding-top: 80px;
}
.list-cp{
    padding-left: 0;
}
.list-cp li {
    display: inline-block;
    text-align: center;
    padding: 20px;
}
.list-sosmed{
    padding-left: 0;
}
.list-sosmed li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
}

.list-sosmed li a{
    display: block;
}

.icon{
    font-size: 30px;
}

#sponsor {
    padding: 80px 0;
}

.footer_widget {
    font-family: "nexa";
    color: #fff;
    background-size: cover;
}

.footer_widget .main_widget {
    padding: 55px 15px 80px 15px;
    overflow: hidden;
}

.single_widget p{
    font-family: "nexa";
    font-size: 20px;
}


.single_widget a {
    font-size: 15px;
    overflow: hidden;
    color: #FBB12F;
    text-transform: uppercase;
    text-align: center;
}

.single_widget a:hover {
    color: white;
}

.footer_logo {
    margin-bottom: 20px;
}

.centerDiv {
    width: 100%;
    text-align: center;
}

/*footer section*/
#footer{
    padding-top: 80px;
}

.footer {
    background: #000000;
}

.footer .main_footer {
    overflow: hidden;
    /* padding: 40px 0px; */
}

.footer .flowus {
    text-align: right;
}

.footer .flowus a i {
    color: #fff;
    font-size: 1rem;
    /* padding: 5px; */
    border: 1px solid #fff;
    border-radius: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 18px;
    /* margin-right:5px; */
    margin-top: 10px;
}

.footer .flowus a i:hover {
    color: #FBB12F;
    border: 1px solid #FBB12F;
}

.copyright_text {
    text-align: left;
}

.copyright_text p {
    color: #fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}

.copyright_text p i {
    /* padding:0px 10px; */
    color: #ff0000;
}

.copyright_text p a {
    /* padding:0px 10px; */
    color: #ff7200;
}