.robo {
    padding: 80px 0;
}

.to-animate {
    animation-duration: 2s;
    animation-delay: 0.7s;
}

.icon-lomba {
    width: auto;
    height: 60%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.icon-lomba:hover {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes icon-lomba {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.icon-seminar {
    /* width: auto; */
    /* height: 400px; */
    /* position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

.icon-seminar:hover {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes icon-seminar {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.judul-lomba {
    font-family: nexa;
    color: #febf2c;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .judul-lomba {
        font-size: 40px;
    }
}

.left-hand {
    text-align: left !important;
}

.right-hand {
    text-align: right !important;
}

.p-lomba {
    color: white;
    font-size: 20px;
    font-family: nexa;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .p-lomba {
        font-size: 16px;
    }
}

#robotic {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-tc.jpg) fixed center center;
    background-size: cover;
    max-width: 100%;
}

.more .more-btn {
    font-family: nexa;
    margin: 0px 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 13px 25px;
    border-radius: 30px;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #F26B35 0%, #FBB12F 50%, #F7EB23 100%);
    color: black;
}

@media (max-width: 768px) {
    .more .more-btn {
        font-size: 14px;
    }
}

.more .more-btn:hover {
    background-position: right center;
    transition: 0.5s;
    color: white;
}

#fh5co-type {

    padding: 80px 0;

    background-color: transparent;

    background-size: cover;

    background-attachment: fixed;

    position: relative;
}

#fh5co-type>.fh5co-overlay {

    position: absolute;

    top: 0;

    bottom: 0;

    left: 0;

    right: 0;

    background: rgba(0, 0, 0, 0.7);

    z-index: 9;
}

#fh5co-type>.container {

    z-index: 10;

    position: relative;
}

#fh5co-type .fh5co-type {

    float: left;

    width: 100%;

    text-align: center;
}


#fh5co-type h3 {

    margin-bottom: 10px;

    color: #FBB12F;

    text-align: center;

}

#fh5co-type h3.with-icon {

    position: relative;
    font-family: 'Nexa';

    color: #FBB12F;

    padding-top: 90px;
}

#fh5co-type h3.with-icon:before,
#fh5co-type h3.with-icon::before {

    content: "";

    position: absolute;

    left: 50%;
    margin-left: -54px;

    margin-top: -125px;

    width: 104px;

    height: 104px;

    border: 2px solid rgba(255, 255, 255, 0.2);

    -webkit-border-radius: 50%;

    -moz-border-radius: 50%;

    -ms-border-radius: 50%;
    border-radius: 50%;
}

#fh5co-type h3.with-icon.icon-eec:before,
#fh5co-type h3.with-icon.icon-eec::before {
    background: url(../img/lomba/eec.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-iot:before,
#fh5co-type h3.with-icon.icon-iot::before {

    background: url(../img/lomba/iot.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-soccer:before,
#fh5co-type h3.with-icon.icon-soccer::before {

    background: url(../images/type-3.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-sumo:before,
#fh5co-type h3.with-icon.icon-sumo::before {

    background: url(../images/type-4.png) no-repeat center center;
}

#fh5co-type h3.with-icon.icon-mach:before,
#fh5co-type h3.with-icon.icon-mach::before {

    background: url(../images/type-4.png) no-repeat center center;
}

#fh5co-type p {

    color: #FFFFFF;
}


.js .to-animate,
.js .to-animate-2 {

    opacity: 0;
}