.carousel-control-prev {
    margin-top: 157px;
    height: 75px;
    width: 75px;
}

.carousel-control-next {
    margin-top: 157px;
    height: 75px;
    width: 75px;
}

.btn-default {
    background-color: goldenrod;
    border-radius: 75px;
}

li.active {
    background-color: goldenrod;
}

#video {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/bg-section.png) fixed center center;
    background-size: cover;
    max-width: 100%;
    padding: 80px 0;
}

.vid-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    /* overflow: hidden; */
}

.vid-container iframe {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 80%;
}

.vid {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    /* -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg); */
}