<section id="lomba">
    <div id="fh5co-type">
        <div class="container">
            <div class="row">
                <!-- EEC -->
                <div class="col-md-6 to-animate robo wow fadeIn">
                    <div class="fh5co-type">
                         <h1 class="judul-lomba yellow right-hand">Electrical Engineering Competition</h3>

                            <p class="p-lomba right-hand">EEC merupakan kompetisi tertulis dan praktik mencakup bidang

                                matematika,

                                fisika dan komputer

                                untuk siswa/i SMA. Satu tim terdiri dari 3 orang siswa/i dari sekolah yang sama.<p>

                    </div>

                    <div class="right-hand more">

                        <a class="more-btn" href="lomba/eec.html">Selengkapnya</a>

                        <a class="more-btn" href="https://drive.google.com/file/d/1RlXacHp8_qazXBrWuHvrmY2vRwi9iSFy/view" target="_blank">Daftar</a>

                    </div>

                </div>

                <div class="col-md-6 to-animate wow flipInX">

                    <img class="icon-lomba" src="img/lomba/eec.png" alt="">

                </div>

                <!-- IOT -->



                <div class="col-md-6 to-animate wow flipInX">

                    <img class="icon-lomba" src="img/lomba/iot.png" alt="">

                </div>

                <div class="col-md-6 to-animate robo wow fadeIn">

                    <div class="fh5co-type">

                        <h3 class="judul-lomba orange left-hand">IoT Development Competition</h3>

                        <p class="p-lomba left-hand">Internet of Things Development Competition merupakan kompetisi

                            pengembangan

                            perangkat

                            berbasis

                            IoT. Kompetisi beregu yang terdiri dari maksimal 3 orang anggota. Kompetisi ini ditujukan

                            untuk

                            umum.</p>

                    </div>

                    <div class="left-hand more">

                        <a class="more-btn" href="https://drive.google.com/file/d/1e-wFjnUojM9btuhM83U25C6MCW9DoVJ_/view" target="_blank">Daftar</a>

                        <a class="more-btn" href="lomba/iot.html">Selengkapnya</a>

                    </div>



                </div>

                <div class="col-md-12 to-animate robo wow bounceIn">

                    <div class="fh5co-type">

                        <h1 class="judul-lomba yellow">Robotic Competition</h1>
                        <p class="p-lomba">Satu tim terdiri dari 3 orang (kategori beragam).</p>
                    </div>
                </div>
                <!-- Soccer -->
                <div class="col-md-6 to-animate robo wow fadeIn">
                    <div class="fh5co-type">
                         <h3 class="judul-lomba orange right-hand">SoccerBot</h3>
                        <p class="p-lomba right-hand">Kompetisi robot manual untuk memainkan pertandingan sepak bola. Robot
                            didesain agar dapat bertahan dan memasukkan bola sebanyak-banyaknya ke
                            gawang lawan.</p>
                    </div>
                    <div class="right-hand more"> <a class="more-btn" href="lomba/soccer.html">Selengkapnya</a> <a class="more-btn"
                        href="https://drive.google.com/file/d/1sHv2JCorzTsl7zmdJSPHAvejQjKcjol1/view"
                        target="_blank">Daftar</a>
                    </div>
                </div>
                <div class="col-md-6 to-animate wow flipInX">
                    <img class="icon-lomba" src="img/lomba/soccer.png" alt="">
                </div>
                <!-- Sumo -->
                <div class="col-md-6 to-animate wow flipInX">
                    <img class="icon-lomba" src="img/lomba/sumo.png" alt="">
                </div>
                <div class="col-md-6 to-animate robo wow fadeIn">
                    <div class="fh5co-type">
                         <h3 class="judul-lomba yellow left-hand">SumoBot</h3>
                        <p class="p-lomba left-hand">Kompetisi dimana dua robot otomatis bertanding olahraga sumo. Robot didesain
                            agar dapat mendorong lawan keluar dari arena serta menghindarkan robot
                            milik sendiri untuk keluar dari arena.</p>
                    </div>
                    <div class="left-hand more"> <a class="more-btn" href="https://drive.google.com/file/d/1vvJ2NjxoyTPSaNzMseiU-9QDlJlFjtGv/view"
                        target="_blank">Daftar</a> <a class="more-btn" href="lomba/sumo.html">Selengkapnya</a>
                    </div>
                </div>
                <!-- Machbot -->
                <div class="col-md-6 to-animate robo wow fadeIn">
                    <div class="fh5co-type">
                         <h3 class="judul-lomba orange right-hand">MachBot</h3>
                        <p class="p-lomba right-hand">Kompetisi robot yang dikendalikan secara manual sekaligus otomatis mempertandingkan
                            dua tim di satu pertandingan. Robot harus menyusun balok membentuk priamida
                            pada mode manual dan mengikuti garis pada mode otomatis.</p>
                    </div>
                    <div class="right-hand more"> <a class="more-btn" href="lomba/machbot.html">Selengkapnya</a> <a class="more-btn"
                        href="https://drive.google.com/file/d/14nfouTk5b-lMHV44UEK0KSkx81rFDw1U/view"
                        target="_blank">Daftar</a>
                    </div>
                </div>
                <div class="col-md-6 to-animate wow flipInX">
                    <img class="icon-lomba" src="img/lomba/macbot.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>