<!-- Sponsor -->
<section id="sponsor">
     <h1 class="judul-about yellow wow fadeIn to-animate">Sponsor</h1>
    <div class="bg-sp wow to-animate fadeIn">
        <div class="container">
            <section class="customer-logos slider">
                <div class="slide"><a href="https://www.daiserver.com/" target="_blank"><img src="../img/sponsor/Daiserver.png"></a>
                </div>
                <div class="slide"><a href="https://www.domainesia.com" target="_blank"><img class="logo-besar" src="https://static.domainesia.com/assets/images/logo-domainesia.png"></a>
                </div>
                <!-- <div class="slide"><img src="../img/sponsor/image2.png"></div>

      <div class="slide"><img src="../img/sponsor/image3.png"></div>

      <div class="slide"><img src="../img/sponsor/image4.png"></div>

      <div class="slide"><img src="../img/sponsor/image5.png"></div>

      <div class="slide"><img src="../img/sponsor/image6.png"></div>

      <div class="slide"><img src="../img/sponsor/image7.png"></div>

      <div class="slide"><img src="../img/sponsor/image8.png"></div> -->
            </section>
        </div>
    </div>
</section>
<!-- Medpart -->
<section id="medpart">
     <h1 class="judul-about orange wow fadeIn to-animate">Media Partner</h1>
    <div class="bg-sp wow to-animate fadeIn">
        <div class="container">
            <section class="customer-logos slider">
                <div class="slide">
                    <img src="../img/medpart/bitnesia.png">
                </div>
                <div class="slide">
                    <img src="../img/medpart/codepolitan.png">
                </div>
                <div class="slide">
                    <img src="../img/medpart/acaramahasiswa.png">
                </div>
                <div class="slide">
                    <img src="../img/medpart/eventkampus.png">
                </div>
                <div class="slide">
                    <img src="../img/medpart/infolomba.png">
                </div>
                <div class="slide"><a href="https://www.haievent.com/" target="_blank"><img src="https://ucarecdn.com/562a602e-dcc4-4b25-99b9-2eab74d9e4fd/logo1kk.png"></a>
                </div>
            </section>
        </div>
    </div>
</section>
<section id="map">
     <h1 class="judul-about yellow wow fadeIn to-animate">Lokasi</h1>
    <iframe class="map wow to-animate fadeIn" width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=-7.76538885,110.37221345403944&amp;q=teknik%20ugm+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Map

        a route</a>
    </iframe>
    <br />
</section>
<section id="cp" class="footer_widget">
    <div class="center-block wow fadeIn to-animate">
         <h1 class="judul-about orange">Contact Person</h1>
        <ul class="list-cp centerDiv">
            <!-- IOT -->
            <li>
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <p>IoT
                        <br>Dzakwan
                        <br>0821-7872-7158</p>
                </div>
            </li>
            <!-- EEC -->
            <li>
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <p>EEC
                        <br>Rezqy
                        <br>0815-1018-3699</p>
                </div>
            </li>
            <!--Rescue -->
            <li>
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <p>MachBot
                        <br>Dori
                        <br>0813-9397-4825</p>
                </div>
            </li>
            <!-- Soccer -->
            <li>
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <p>SoccerBot
                        <br>Abraham
                        <br>0813-6370-6197</p>
                </div>
            </li>
            <!-- Sumo -->
            <li>
                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                    <p>SumoBot
                        <br>Kris
                        <br>0877-3974-0640</p>
                </div>
            </li>
        </ul>
    </div>
    <hr>
    <section id="footer">
        <div class="single_widget wow fadeIn centerDiv" data-wow-duration="800ms">
            <div class="footer_title">
                <div class="separator"></div>
            </div>
            <ul class="list-sosmed wow fadeIn to-animate">
                <li><a href="https://www.facebook.com/TechnocornerUGM"><i class="fab fa-facebook-square icon"></i></a>
                </li>
                <li><a href="https://www.twitter.com/TechnocornerUGM"><i class="fab fa-twitter-square icon"></i></a>
                </li>
                <li><a href="https://www.instagram.com/technocornerugm"><i class="fab fa-instagram icon"></i></a>
                </li>
                <li><a href="https://line.me/R/ti/p/%40kdo2899c"><i class="fab fa-line icon"></i></a>
                </li>
                <li><a href="https://www.youtube.com/channel/UC0T3ca79_Db-q9sHXTYeXIg"><i class="fab fa-youtube-square icon"></i></a>
                </li>
            </ul>
        </div>
    </section>