<!--==========================S econd Header============================-->
<header id="header">
    <div class="container">
        <div id="logo" class="pull-left">
            <!-- <a href="index.html"><img src="img/log.svg" alt="" title="" /></a> -->
            <!-- Uncomment below if you prefer to use a text logo --> <a id="nav-logo" class="yellow" href="../index.html"><img src="../img/logo.png">Technocorner</a>
        </div>
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu home"><a href="../index.html">Home</a>
                </li>
                <!-- <li><a href="#galeri">Galeri</a></li>

          <li><a href="#kompetisi">Kompetisi</a></li>

          <li><a href="#seminar">Seminar</a></li> -->
                <li class="menu-has-children"><a href="">Event</a>
                    <ul>
                        <li><a href="../lomba/soccer.html">SoccerBot</a>
                        </li>
                        <li><a href="../lomba/sumo.html">SumoBot</a>
                        </li>
                        <li><a href="../lomba/machbot.html">MachBot</a>
                        </li>
                        <li><a href="../lomba/iot.html">IOT</a>
                        </li>
                        <li><a href="../lomba/eec.html">EEC</a>
                        </li>
                        <li><a href="../lomba/seminar.html">Seminar</a>
                        </li>
                    </ul>
                </li>
                <!-- <li class="menu-has-children"><a href="">Daftar</a>

          <ul>

            <li><a href="../daftar/daftar-soccer.html">SoccerBot</a></li>

            <li><a href="../daftar/daftar-sumo.html">SumoBot</a></li>

            <li><a href="../daftar/daftar-machbot.html">MachBot</a></li>

            <li><a href="../daftar/daftar-iot.html">IOT</a></li>

            <li><a href="../daftar/daftar-eec.html">EEC</a></li>

            <li><a href="../daftar/daftar-semnas.html">Seminar</a></li>

          </ul>

        </li> -->
            </ul>
            <!-- <li><a href="lomba/daftar.html">Daftar</a></li> -->
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->